
root { 
    display: block;
}

body {
    background-color: #cccccc;
    padding: 1%;
}

.logo {
    position:absolute;
    margin-left:50%;
    margin-top:20%
}

.reszta{
    position:absolute;
    width: 400px;
}

.arena{
    border-style: dotted;
    border-width: 2px;
    border-color: orange;
    padding: 5px;
}


.klikalnyHeader:hover{
    text-decoration: underline;
}

